:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.center-elements {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  aspect-ratio: 1;
}

a {
  text-decoration: none;
  color: blue;
}

.form-container {
  width: 80%;
  min-width: 200px;
  border: 1px solid #707070;
  box-shadow: 1px 2px rgba(95, 95, 95, 0.3), -1px 2px rgba(95, 95, 95, 0.3);
  padding: 2rem;
}

.form-container > h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.align-right {
  text-align: right;
  margin: 1.125rem 0;
}